<style>
    .login-container {
        max-width: 360px;
        margin: auto;
        margin-top: 64px;
    }

    .btn-100 {
        width: 100%;
    }

    .a2 {
        color: #333;
    }

    .a2:hover {
        color: #000;
    }
</style>


<div class="login-container" style="background-color: #2f3035; padding: 30px;">
    <h1 style="color: #fff; text-align: center; padding-bottom: 15px;"><b>Videogame Store</b></h1>
    <h2 style="color: #fff; text-align: center;">User Login</h2>

        <div style="margin-bottom: 15px; margin-top: 1em;">
            <button type="button" class="btn btn-secondary btn-100" onclick="toGithub()">Login with Github
            <i class="fa-brands fa-github"></i>
            </button>
        </div>

        <div style="margin-bottom: 32px;">
            <button type="button" class="btn btn-warning btn-100" onclick="toGoogle()">Login with Google
            <i class="fa-brands fa-google"></i>
            </button>
        </div>

    <div id="error-message" style="color: red; margin-bottom: 10px;"></div>

    <form class="form" style="margin-top: 32px;">
        <div class="input-group" style="width: 300px;">
            <span class="input-group-text" id="group1"><i class="fa-solid fa-user"></i></span>
            <input type="text" name="username" class="form-control" placeholder="Username" required="required">
        </div>

        <div style="margin-left: 171px; margin-top: 20px; margin-bottom: 10px;">
            <a href="/restorepassword">Forgot password?</a>
        </div>

        <div class="input-group" style="width: 300px; margin-bottom: 32px;">
            <span class="input-group-text" id="group2"><i class="fa-solid fa-lock"></i></span>
            <input type="password" name="password" class="form-control" placeholder="Password" required="required">
        </div>


        <div style="margin-bottom: 15px; margin-top: 1em;">
            <button type="submit" class="btn btn-success btn-100">Login</button>
        </div>

    
        <div style="margin-top: 24px; color: #fff;">
            New here? <a href="http://localhost:8080/register">Create an account</a>
        </div>
    </form>
</div>
<script src="/static/js/login.js"></script>